#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property file="/etc/${artifactId}/app.properties"/>
    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="org.apache.camel">
        <level value="${symbol_dollar}{log.camel.level:-INFO}"/>
    </logger>
    <logger name="org.springframework">
        <level value="${symbol_dollar}{log.spring.level:-INFO}"/>
    </logger>
    <logger name="org.milyn">
        <level value="${symbol_dollar}{log.smooks.level:-INFO}"/>
    </logger>
    <logger name="${package}">
        <level value="${symbol_dollar}{log.fuwt.level:-INFO}"/>
    </logger>
    <root>
        <level value="${symbol_dollar}{log.root.level:-INFO}"/>
        <appender-ref ref="ConsoleAppender"/>
    </root>
</configuration>
